
@media only screen and (min-width: 1024px) {
    h1 {
        color: red;
    }
    
}

body {
    display: flex;
    height: 50vh;
}


.mobile,
.tablet,
.pc {
    margin: auto;
    font-size: 100px;
    color: green;
    justify-content: center;
    display: none;
}


/* Mobile */
@media only screen and (max-width: 46.1875em) {
        .mobile {
            display: block;
            color: black
        }
}

/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
        .tablet {
            display: block;
            color: black;
        }
}

/* PC */

@media only screen and (min-width: 64em) {
        .pc {
            display: block;
            color: black ;
        }
}