
@media only screen and (min-width: 1024px) {
    h1 {
        color: red;
    }
    
}

body {
    display: flex;
    height: 50vh;
}


.mobile,
.tablet,
.pc {
    margin: auto;
    font-size: 100px;
    color: green;
    justify-content: center;
    display: none;
}


/* Mobile */
@media only screen and (max-width: 739px) {
        .mobile {
            display: block;
            color: black
        }
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
        .tablet {
            display: block;
            color: black;
        }
}

/* PC */

@media only screen and (min-width: 1024px) {
        .pc {
            display: block;
            color: black;
        }
}